.login-form-container {
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    top: 100px;
    height: calc(100vh - 110px);
}

.login-form-box {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    width: 75%;
    max-width: 300px;
    min-width: 200px;
    height: 50%;
    min-height: 350px;
    background-color: #EBEBF0;
}

.login-error {
    display: none;
}

@media screen and (min-width: 768px) {
    .login-form-container {
        top: 200px;
        height: calc(100vh - 210px);
        margin-left: 25%;
    }
}

@media screen and (min-width: 1024px) {
    .dividing-bar {
        display: inherit;
    }
    .login-form-container {
        top: 100px;
        height: calc(100vh - 110px);
        margin-left: 20%;
    }
    .login-form-box {
        max-width: 450px;
    }
}