<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <script src="https://kit.fontawesome.com/d0631d71b8.js" crossorigin="anonymous"></script>
        <link rel="preconnect" href="https://fonts.googleapis.com">
        <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
        <link href="https://fonts.googleapis.com/css2?family=Roboto&display=swap" rel="stylesheet">
        <link rel="stylesheet" href="../styles/reset.css">
        <link rel="stylesheet" href="../styles/header.css">
        <link rel="stylesheet" href="../styles/sidebar.css">
        <link rel="stylesheet" href="../styles/footer.css">
        <link rel="stylesheet" href="../styles/main.css">
        <link rel="stylesheet" href="../styles/whole-page.css">
        <link rel="stylesheet" href="../styles/login.css">
        <title>LogIn | Trackgenix SA</title>
    </head>
    <body>
        <aside>
            <div class="menu-icon-aside">
                <a href="#"><i class="fa-solid fa-bars"></i></a>
            </div>
            <p>Menu</p>
            <ul>
                <li><a class="ul-link1" href="index.html">Home</a></li>
                <li><a class="ul-link2" href="sign-up.html">SignUp</a></li>
                <li><a class="ul-link3" href="login.html">LogIn</a></li>
                <li><a class="ul-link4" href="#">Contact</a></li>
            </ul>
            <div class="aside-bar"></div>
            <p>Get in touch</p>
            <ul>
                <li><a href="#">Worked hours</a></li>
                <li><a href="#">Reports</a></li>
                <li><a href="#">Management</a></li>
                <li><a href="#">Roles</a></li>
            </ul>
            <div class="aside-bar"></div>
            <p class="aside-h">Trackgenix</p>
            <p class="aside-p">
                Lorem Ipsum has been the industry's standard dummy text ever since the 1500s,
                when an unknown printer took a galley of type and scrambled it to make a type specimen book.
            </p>
        </aside>
        <header>
            <nav>
                <div class="menu-icon">
                    <a href="#"><i class="fa-solid fa-bars"></i></a>
                </div>
                <div class="logo-image">
                    <img src="../assets/logo.png" alt="">
                </div>
                <div class="logo">
                    <h1>Trackgenix</h1>
                    <div class="logo-bar"></div>
                    <h2>Subheader</h2>
                </div>
                <div class="social-networks">
                    <a href="https://es-la.facebook.com/" target="blank_"><i class="fa-brands fa-facebook"></i></a>
                    <a href="https://twitter.com/" target="blank_"><i class="fa-brands fa-twitter"></i></a>
                    <a href="https://ar.linkedin.com/" target="blank_"><i class="fa-brands fa-linkedin"></i></a>
                    <a href="https://www.instagram.com/" target="blank_"><i class="fa-brands fa-instagram"></i></a>
                    <a href="https://github.com/" target="blank_"><i class="fa-brands fa-github"></i></a>
                </div>
            </nav>
            <div class="dividing-bar"></div>
        </header>
        <div class="login-container">
            <div class="login-form-container">
                <div class="login-form-box">
                    <form novalidate>
                        <h2>Log In</h2>
                        <div class="login-inputs">
                            <input id="email-input" type="email" placeholder="Email">
                            <p class="login-error"></p>
                            <input id="password-input" type="password" placeholder="Password">
                            <p class="login-error"></p>
                        </div>
                        <div class="dummys-login-container">
                            <div class="dummys-login">
                                <div class="login-email-checkbox">
                                    <input name="checkbox-email" type="checkbox">
                                    <label for="checkbox-email">Remember me</label>
                                </div>
                                <a href="#">Forgot password?</a>
                            </div>
                        </div>
                        <input id="submit-input" type="submit" value="Continue">
                    </form>
                </div>
            </div>
            <div id="login-validation-container" class="hidden">
                <div id="login-validation" class="hidden">
                    <h3>Validation Result</h3>
                    <p class="login-validation-result"></p>
                    <p class="login-validation-result"></p>
                    <p id="login-response"></p>
                    <a id="close-modal">Close</a>
                </div>
            </div>
        </div>
        <script src="../javascript/login.js"></script>
    </body>
</html>