<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <script src="https://kit.fontawesome.com/d0631d71b8.js" crossorigin="anonymous"></script>
        <link rel="preconnect" href="https://fonts.googleapis.com">
        <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
        <link href="https://fonts.googleapis.com/css2?family=Roboto&display=swap" rel="stylesheet">
        <link rel="stylesheet" href="../styles/reset.css">
        <link rel="stylesheet" href="../styles/header.css">
        <link rel="stylesheet" href="../styles/sidebar.css">
        <link rel="stylesheet" href="../styles/main.css">
        <link rel="stylesheet" href="../styles/footer.css">
        <link rel="stylesheet" href="../styles/whole-page.css">
        <title>Trackgenix SA</title>
    </head>
    <body>
        <aside>
            <div class="menu-icon-aside">
                <a href="#"><i class="fa-solid fa-bars"></i></a>
            </div>
            <p>Menu</p>
            <ul>
                <li><a href="index.html">Home</a></li>
                <li><a href="sign-up.html" target="_blank">SignUp</a></li>
                <li><a href="login.html" target="_blank">LogIn</a></li>
                <li><a href="#">Contact</a></li>
            </ul>
            <div class="aside-bar"></div>
            <p>Get in touch</p>
            <ul>
                <li><a href="#">Worked hours</a></li>
                <li><a href="#">Reports</a></li>
                <li><a href="#">Management</a></li>
                <li><a href="#">Roles</a></li>
            </ul>
            <div class="aside-bar"></div>
            <p class="aside-h">Trackgenix</p>
            <p class="aside-p">
                Lorem Ipsum has been the industry's standard dummy text ever since the 1500s,
                when an unknown printer took a galley of type and scrambled it to make a type specimen book.
            </p>
        </aside>
        <header>
            <nav>
                <div class="menu-icon">
                    <a href="#"><i class="fa-solid fa-bars"></i></a>
                </div>
                <div class="logo-image">
                    <img src="../assets/logo.png" alt="">
                </div>
                <div class="logo">
                    <h1>Trackgenix</h1>
                    <div class="logo-bar"></div>
                    <h2>Subheader</h2>
                </div>
                <div class="social-networks">
                    <a href="https://es-la.facebook.com/" target="blank_"><i class="fa-brands fa-facebook"></i></a>
                    <a href="https://twitter.com/" target="blank_"><i class="fa-brands fa-twitter"></i></a>
                    <a href="https://ar.linkedin.com/" target="blank_"><i class="fa-brands fa-linkedin"></i></a>
                    <a href="https://www.instagram.com/" target="blank_"><i class="fa-brands fa-instagram"></i></a>
                    <a href="https://github.com/" target="blank_"><i class="fa-brands fa-github"></i></a>
                </div>
            </nav>
            <div class="dividing-bar"></div>
        </header>
        <div class="whole-container">
            <div class="main-container">
                <div class="main">
                    <img src="../assets/image.jpg" alt="Trackgenix home image" class="main-image">
                    <div class="article-container">
                        <h2>Hi, we are Trackgenix SA</h2>
                        <article>
                            <section class="main-section">
                                <h3>A free and fully responsive site</h3>
                                <p>
                                    Scelerisque augue scelerisque pharetra, platea rutrum. Orci est faucibus tempor pellentesque
                                    vulputate. Arcu in cras iaculis scelerisque odio venenatis magna nisl. Suspendisse maecenas
                                    ac sit urna neque eu amet, cras. Vel amet, id accumsan fringilla. Eros, habitant tortor quam
                                    consequat hendrerit nunc, euismod dolor. Tortor, quam velit sit tincidunt turpis viverra. Sapien
                                    rhoncus neque, varius facilisi pretium, volutpat non. Molestie proin placerat ultrices rhoncus
                                    massa scelerisque hac vel aliquam. Accumsan massa accumsan est a. Purus massa condimentum nam non
                                    ultricies eleifend. Orci, augue mauris tincidunt ullamcorper elementum in fringilla.
                                    Sed varius nibh scelerisque tortor sapien. Sit egestas ac imperdiet lorem massa, tempor malesuada.
                                    Massa enim interdum morbi nunc eleifend viverra. Mauris iaculis arcu platea ut massa ultrices.
                                    In est porta etiam a nisl quisque nullam. Interdum vel, pellentesque imperdiet lacus fermentum.
                                    Consectetur amet, purus leo nulla. Ac mauris ac ultrices egestas maecenas suspendisse leo, mi.
                                </p>
                                <a href="#">
                                    <button>Learn more</button>
                                </a>
                            </section>
                        </article>
                    </div>
                </div>
            </div>
            <div class="history-section">
                <article>
                    <h2>History</h2>
                    <section class="history-p">
                        <p class="history-desktop-p">
                            <img src="../assets/history.jpg" alt="history of Trackgenix" class="history-img-1">
                            Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sed id justo sed ante sollicitudin mollis.
                            Nulla mauris lectus, hendrerit ac nulla ac, iaculis dictum leo. Sed ut auctor tellus, quis tincidunt
                            magna. Nulla eros ipsum, blandit in sagittis ornare, convallis non orci. Nullam at ultrices lacus,
                            sed aliquet ligula. Quisque posuere nibh nec enim porta, sit amet commodo purus gravida.
                            Quisque quam elit, porta in purus a, ornare imperdiet magna. Sed vitae lacinia orci. Phasellus uvenenatis
                            ante. Proin tristique malesuada urna ac tincidunt. 
                            Lorem ipsum dolor sit amet, consectetur adipiscing elit.
                            Sed id justo sed ante sollicitudin mollis. Nulla mauris lectus,
                            hendrerit ac nulla ac, iaculis dictum leo. Sed ut auctor tellus, quis tincidunt magna.
                            Nulla eros ipsum, blandit in sagittis ornare, convallis non orci. Nullam at ultrices lacus,
                            sed aliquet ligula. Quisque posuere nibh nec enim porta, sit amet commodo purus gravida.
                            Quisque quam elit, porta in purus a, ornare imperdiet magna. Sed vitae lacinia orci.
                            Phasellus ut venenatis Lorem ipsum dolor sit amet
                            <img src="../assets/history-2.jpg" alt="history of Trackgenix 2" class="history-img-2">
                            Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sed id justo sed ante sollicitudin mollis.
                            Nulla mauris lectus, hendrerit ac nulla ac, iaculis dictum leo. Sed ut auctor tellus, quis tincidunt
                            magna. Nulla eros ipsum, blandit in sagittis ornare, convallis non orci. Nullam at ultrices lacus,
                            sed aliquet ligula. Quisque posuere nibh nec enim porta, sit amet commodo purus gravida.
                            Quisque quam elit, porta in purus a, ornare imperdiet magna. Sed vitae lacinia orci. Phasellus u
                            venenatis ante. Proin tristique malesuada urna ac tincidunt. 
                            Lorem ipsum dolor sit amet, consectetur adipiscing elit.
                            Sed id justo sed ante sollicitudin mollis. Nulla mauris lectus,
                            hendrerit ac nulla ac, iaculis dictum leo. Sed ut auctor tellus, quis tincidunt magna.
                            Nulla eros ipsum, blandit in sagittis ornare, convallis non orci. Nullam at ultrices lacus,
                            sed aliquet ligula. Quisque posuere nibh nec enim porta, sit amet commodo purus gravida.
                            Quisque quam elit, porta in purus a, ornare imperdiet magna. Sed vitae lacinia orci.
                            Phasellus ut venenatis 
                        </p>
                        <img src="../assets/history.jpg" alt="history of Trackgenix" class="history-img-1-mobile">
                        <h3>Trackgenix since the 1500s</h3>
                        <p class="history-mobile-p">
                            Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut
                            labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco
                            laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in
                            voluptate velit esse cillum dolore eu fugiat nulla pariatur. 
                        </p>
                        <div class="history-button">
                            <button>More</button>
                        </div>
                        <img src="../assets/history-2.jpg" alt="history of Trackgenix 2" class="history-img-2-mobile">
                        <h3>Where did Trackgenix came from?</h3>
                        <p class="history-mobile-p">
                            Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.
                        </p>
                        <div class="history-button">
                            <button>More</button>
                        </div>
                    </section>
                </article>
            </div>
            <div class="functionalities-section">
                <h2>Funcionalities</h2>
                <article>
                    <section class="functionalities-part">
                        <img src="../assets/icon1.jpg" alt="Reports">
                        <div class="functionalities-text">
                            <h3>Working Hours Record</h3>
                            <p>
                                Lorem ipsum, dolor sit amet consectetur adipisicing elit. Aut, laboriosam voluptatibus ratione
                                consectetur vitae exercitationem eum, non impedit necessitatibus labore incidunt culpa saepe,
                                cum beatae minus quia quae error. Dignissimos.
                            </p>
                        </div>
                    </section>
                    <section class="functionalities-part">
                        <img src="../assets/icon2.jpg" alt="Reports">
                        <div class="functionalities-text">
                            <h3>Reports</h3>
                            <p>
                                Lorem ipsum, dolor sit amet consectetur adipisicing elit. Aut, laboriosam voluptatibus ratione
                                consectetur vitae exercitationem eum, non impedit necessitatibus labore incidunt culpa saepe,
                                cum beatae minus quia quae error. Dignissimos.
                            </p>
                        </div>
                    </section>
                    <section class="functionalities-part">
                        <img src="../assets/icon3.jpg" alt="Management">
                        <div class="functionalities-text">
                            <h3>Resources management</h3>
                            <p>
                                Lorem ipsum, dolor sit amet consectetur adipisicing elit. Aut, laboriosam voluptatibus ratione
                                consectetur vitae exercitationem eum, non impedit necessitatibus labore incidunt culpa saepe,
                                cum beatae minus quia quae error. Dignissimos.
                            </p>
                        </div>
                    </section>
                    <section class="functionalities-part"> 
                        <img src="../assets/icon4.jpg" alt="Roles">
                        <div class="functionalities-text">
                            <h3>Multiple roles</h3>
                            <p>
                                Lorem ipsum, dolor sit amet consectetur adipisicing elit. Aut, laboriosam voluptatibus ratione
                                consectetur vitae exercitationem eum, non impedit necessitatibus labore incidunt culpa saepe,
                                cum beatae minus quia quae error. Dignissimos.
                            </p>
                        </div>
                    </section>
                </article>
            </div>
            <div class="reasons-section">
                <h2>Reasons why you need us</h2>
                <article>
                    <section class="reasons-part">
                        <img src="../assets/icon1.jpg" alt="Productivity">
                        <div class="reasons-text">
                            <h3>Productivity enhancer</h3>
                            <p>
                                Lorem ipsum, dolor sit amet consectetur adipisicing elit. Aut, laboriosam voluptatibus ratione
                                consectetur vitae exercitationem eum, non impedit necessitatibus labore incidunt culpa saepe,
                                cum beatae minus quia quae error. Dignissimos.
                            </p>
                        </div>
                    </section>
                    <section class="reasons-part">
                        <img src="../assets/icon2.jpg" alt="Decision making">
                        <div class="reasons-text">
                            <h3>Decision making</h3>
                            <p>
                                Lorem ipsum, dolor sit amet consectetur adipisicing elit. Aut, laboriosam voluptatibus ratione
                                consectetur vitae exercitationem eum, non impedit necessitatibus labore incidunt culpa saepe,
                                cum beatae minus quia quae error. Dignissimos.
                            </p>
                        </div>
                    </section>
                    <section class="reasons-part">
                        <img src="../assets/icon3.jpg" alt="Work traceability">
                        <div class="reasons-text">
                            <h3>Work traceability</h3>
                            <p>
                                Lorem ipsum, dolor sit amet consectetur adipisicing elit. Aut, laboriosam voluptatibus ratione
                                consectetur vitae exercitationem eum, non impedit necessitatibus labore incidunt culpa saepe,
                                cum beatae minus quia quae error. Dignissimos.
                            </p>
                        </div>
                    </section>
                    <section class="reasons-part">
                        <img src="../assets/icon4.jpg" alt="Leadership">
                        <div class="reasons-text">
                            <h3>Leadership and team management</h3>
                            <p>
                                Lorem ipsum, dolor sit amet consectetur adipisicing elit. Aut, laboriosam voluptatibus ratione
                                consectetur vitae exercitationem eum, non impedit necessitatibus labore incidunt culpa saepe,
                                cum beatae minus quia quae error. Dignissimos.
                            </p>
                        </div>
                    </section>
                </article>
            </div>
            <div class="form-container">
                <h3>Request information</h3>
                <div class="h3-bar"></div>
                <form>
                    <div class="input-container">
                        <input type="text" placeholder="Name">
                        <input type="email" placeholder="Email">
                    </div>
                    <div class="email-checkbox">
                        <input name="checkbox-1" type="checkbox">
                        <label for="checkbox-1">Send me a copy</label>
                    </div>
                    <select name="category">
                        <option value="disabled" disabled selected>Category</option>
                        <option value="value1">Human resources</option>
                        <option value="value2">IT</option>
                        <option value="value3">Commercialization</option>
                    </select>
                    <textarea placeholder="Enter your message"></textarea>
                    <div class="submit-checkbox">
                        <input name="checkbox-2" type="checkbox">
                        <label for="checkbox-2">I'm a human</label>
                    </div>
                    <input type="submit" value="Send message">
                </form>
            </div>
            <div class="list-section">
                <div class="list">
                    <h4>Products</h4>
                    <ol>
                        <li><a href="#">Features</a></li>
                        <li><a href="#">Downloads</a></li>
                        <li><a href="#">Integrations</a></li>
                        <li><a href="#">Extras</a></li>
                    </ol>
                </div>
                <div class="list">
                    <h4>Company</h4>
                    <ol>
                        <li><a href="#">About us</a></li>
                        <li><a href="#">Customers</a></li>
                        <li><a href="#">Resources</a></li>
                        <li><a href="#">Blog</a></li>
                    </ol>
                </div>
                <div class="list">
                    <h4>Support</h4>
                    <ol>
                        <li><a href="#">Help</a></li>
                        <li><a href="#">Tutorials</a></li>
                        <li><a href="#">API</a></li>
                        <li><a href="#">Contact</a></li>
                    </ol>
                </div>
            </div>
            <div class="pagination-container">
                <div class="pagination">
                    <a href="#" class="preview">Prev</a>
                    <a href="#" class="active">1</a>
                    <a href="#">2</a>
                    <a href="#">3</a>
                    <a href="#">...</a>
                    <a href="#">8</a>
                    <a href="#">9</a>
                    <a href="#">10</a>
                    <a href="#" class="next">Next</a>
                </div>
            </div>
            <div class="footer-dividing-bar"></div>
            <footer>
                <div>
                    <a href="https://es-la.facebook.com/" target="blank_"><i class="fa-brands fa-facebook"></i></a>
                    <a href="https://twitter.com/" target="blank_"><i class="fa-brands fa-twitter"></i></a>
                    <a href="https://ar.linkedin.com/" target="blank_"><i class="fa-brands fa-linkedin"></i></a>
                    <a href="https://www.instagram.com/" target="blank_"><i class="fa-brands fa-instagram"></i></a>
                    <a href="https://github.com/" target="blank_"><i class="fa-brands fa-github"></i></a>
                </div>
                <p>Copyright 2022</p>
            </footer>
        </div>
    </body>
</html>