<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <script src="https://kit.fontawesome.com/d0631d71b8.js" crossorigin="anonymous"></script>
        <link rel="preconnect" href="https://fonts.googleapis.com">
        <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
        <link href="https://fonts.googleapis.com/css2?family=Roboto&display=swap" rel="stylesheet">
        <link rel="stylesheet" href="../styles/reset.css">
        <link rel="stylesheet" href="../styles/header.css">
        <link rel="stylesheet" href="../styles/sidebar.css">
        <link rel="stylesheet" href="../styles/footer.css">
        <link rel="stylesheet" href="../styles/main.css">
        <link rel="stylesheet" href="../styles/whole-page.css">
        <link rel="stylesheet" href="../styles/sign-up.css">
        <title>Sign Up | Trackgenix SA</title>
    </head>
    <body>
        <aside>
            <div class="menu-icon-aside">
                <a href="#"><i class="fa-solid fa-bars"></i></a>
            </div>
            <p>Menu</p>
            <ul>
                <li><a class="ul-link1" href="index.html">Home</a></li>
                <li><a class="ul-link2" href="sign-up.html">SignUp</a></li>
                <li><a class="ul-link3" href="login.html">LogIn</a></li>
                <li><a class="ul-link4" href="#">Contact</a></li>
            </ul>
            <div class="aside-bar"></div>
            <p>Get in touch</p>
            <ul>
                <li><a href="#">Worked hours</a></li>
                <li><a href="#">Reports</a></li>
                <li><a href="#">Management</a></li>
                <li><a href="#">Roles</a></li>
            </ul>
            <div class="aside-bar"></div>
            <p class="aside-h">Trackgenix</p>
            <p class="aside-p">
                Lorem Ipsum has been the industry's standard dummy text ever since the 1500s,
                when an unknown printer took a galley of type and scrambled it to make a type specimen book.
            </p>
        </aside>
        <header>
            <nav>
                <div class="menu-icon">
                    <a href="#"><i class="fa-solid fa-bars"></i></a>
                </div>
                <div class="logo-image">
                    <img src="../assets/logo.png" alt="">
                </div>
                <div class="logo">
                    <h1>Trackgenix</h1>
                    <div class="logo-bar"></div>
                    <h2>Subheader</h2>
                </div>
                <div class="social-networks">
                    <a href="https://es-la.facebook.com/" target="blank_"><i class="fa-brands fa-facebook"></i></a>
                    <a href="https://twitter.com/" target="blank_"><i class="fa-brands fa-twitter"></i></a>
                    <a href="https://ar.linkedin.com/" target="blank_"><i class="fa-brands fa-linkedin"></i></a>
                    <a href="https://www.instagram.com/" target="blank_"><i class="fa-brands fa-instagram"></i></a>
                    <a href="https://github.com/" target="blank_"><i class="fa-brands fa-github"></i></a>
                </div>
            </nav>
            <div class="dividing-bar"></div>
        </header>
        <div class="signup-container">
            <div class="signup-form-container">
                <div class="signup-form-box">
                    <form>
                        <h2>Sign Up</h2>
                        <div class="form-inputs">
                            <div>
                                <input type="text" name="signup-name" placeholder="Name">
                                <p class="signup-error"></p>
                            </div>
                            <div>
                                <input type="text" name="lastname" placeholder="Last name">
                                <p class="signup-error"></p>
                            </div>
                            <div>
                                <input type="number" name="dni" placeholder="DNI">
                                <p class="signup-error"></p>
                            </div>
                            <div>
                                <input type="date" name="date-of-birth">
                                <p class="signup-error"></p>
                            </div>
                            <div>
                                <input type="number" name="tel" placeholder="Phone number">
                                <p class="signup-error"></p>
                            </div>
                            <div>
                                <input type="text" name="address" placeholder="Address">
                                <p class="signup-error"></p>
                            </div>
                            <div>
                                <input type="text" name="location" placeholder="City">
                                <p class="signup-error"></p>
                            </div>
                            <div>
                                <input type="number" name="postal-code" placeholder="Postal code">
                                <p class="signup-error"></p>
                            </div>
                            <div>
                                <input type="email" name="signup-email" placeholder="Email">
                                <p class="signup-error"></p>
                            </div>
                            <div>
                                <input type="password" name="password" placeholder="Password">
                                <p class="signup-error"></p>
                            </div>
                            <div>
                                <input type="password" name="repeat-password" placeholder="Repeat password">
                                <p class="signup-error"></p>
                            </div>
                        </div>
                        <input type="submit" value="Continue">
                    </form>
                </div>
            </div>
            <div class="signup-validation-container">
                <div id="signup-validation">
                    <h3>Sign up result</h3>
                    <p class="signup-validation-result"></p>
                    <p class="signup-validation-result"></p>
                </div>
            </div>
        </div>
        <script src="../javascript/sign-up.js"></script>
    </body>
</html>