footer {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 30px;
}

footer i {
    margin: 0 6px 10px 6px;
    font-size: 22px;
}

footer p {
    font-size: 12px;
    margin-bottom: 30px;
}

.footer-dividing-bar {
        display: none;
        width: 77%;
        margin: 0 21.7% 50px;
        border: 1px solid #000;
        background-color: #000;
}