aside {
    width: 25%;
    height: 100%;
    position:fixed;
    background-color: #AFAFC2;
    overflow: scroll;
}

aside::-webkit-scrollbar {
    display: none;
}

.menu-icon-aside {
    display: flex;
    flex-basis: 100%;
    font-size: 40px;
    justify-content: flex-end;
    margin: 20px
}

aside ul li {
    font-size: 12px;
    padding-top: 13px;
    padding-left: 47px;
    color: #373867;
}

aside p {
    font-size: 14px;
    font-weight: bold;
    margin-left: 29px;
    margin-bottom: 20px;
}

.aside-h {
    font-size: 20px;
}

.aside-p {
    width: 50%;
    font-size: 12px;
    font-weight: 100;
    margin: auto;
    margin-top: 25px;
    margin-bottom: 42px;
    line-height: 20px;
}

.aside-bar {
    width: 70%;
    border: 1px solid black;
    margin: 34px auto;
}