aside, .social-networks {
    display: none;
}

body {
    color: #373867;
    font-family: 'Roboto', sans-serif;
}

a {
    text-decoration: none;
}

a:link, a:visited {
    color: #373867;
}

img {
    width: 100%;
    object-fit: cover;
}

ol {
    list-style: auto;
}

.whole-container {
    position: relative;
    top: 100px;
}


@media screen and (min-width: 768px) {
    nav {
        height: 200px;
    }
    
    .logo-image, aside {
        display: inherit;
    }

    .main, .history-section, .functionalities-section, .reasons-section, .form-container, .list-section, footer {
        width: 70%;
        margin: 30px 25%;
    }

    .main {
        margin: 0px 25%;
    }

    .whole-container {
        top: 200px;
    }

    .main h2 {
        font-size: 30px;
    }

    .main h3 {
        font-size: 24px;
    }

    .main p {
        font-size: 18px;
    }

    .history-section h3 {
        font-size: 30px;
    }

    .history-section p {
        font-size: 18px;
    }

    .functionalities-section h2, .reasons-section h2 {
        font-size: 40px;
    }

    .functionalities-section h3, .reasons-section h3 {
        font-size: 24px;
    }

    .functionalities-section p, .reasons-section p {
        font-size: 18px;
    }

    .form-container h3 {
        font-size: 30px;
    }

    input, select, textarea {
        font-size: 18px;
    }

    .submit-checkbox, .email-checkbox {
        font-size: 16px;
    }

    input[type="submit"] {
        font-size: 18px;
    }

    .list h4 {
        font-size: 48px;
    }

    ol li {
        font-size: 16px;
    }
}

@media screen and (min-width: 1024px) {
    nav {
        height: 100px;
        background-color: #fff;
        justify-content: flex-end;
    }

    .logo-image, .logo, .menu-icon, .history-mobile-p, .history-button, .history-img-1-mobile, .history-img-2-mobile, .history-section h3{
        display: none;
    }

    .social-networks, .dividing-bar, .history-desktop-p, .footer-dividing-bar {
        display: inherit;
    }

    aside {
        width: 20%;
    }

    .main, .history-section, .functionalities-section, .reasons-section, .form-container, .list-section, footer{
        width: 76%;
        margin: 0 20%;
    }

    .whole-container {
        top: 100px;
    }

    .main {
        flex-direction: row-reverse;
        text-align: start;
    }

    .main h2 {
        font-size: 54px;
    }

    .main img {
        width: 50%;
        margin-top: 56px;
        margin-bottom: 0;
    }
    .article-container {
        width: 50%;
        margin-top: 56px;
        margin-right: 75px;
    }

    .article-container h2 {
        font-size: 54px;
    }

    .article-container h3 {
        font-size: 24px;
        margin: 52px 0 21px 0;
    }

    .article-container p {
        font-size: 18px;
    }

    .main-section button {
        font-size: 15px;
        font-weight: bold;
        color: #373867;
        text-transform: uppercase;
        background-color: #FFF;
        padding: 18px 85px;
        border: 2px solid #373867;
        border-radius: 5px;
        cursor: pointer;
    }

    .history-section h2, .functionalities-section h2, .reasons-section h2 {
        display: inherit;
        font-size: 60px;
        font-weight: bold;
        margin: 50px 0; 
    }

    .history-section h2 {
        margin-bottom: 20px;
    }

    .history-section p {
        font-size: 15px;
        line-height: 1.5rem;
        color: #373867;
    }
    
    .functionalities-section h3, .reasons-section h3 {
        font-size: 30px;
    }

    .functionalities-section p, .reasons-section p {
        font-size: 20px;
    }

    .functionalities-part, .reasons-part {
        flex-basis: 50%;
    }
    
    .functionalities-part img {
        max-width: 300px;
    }

    form {
        width: 80%;
        margin: auto;
    }

    .form-container h3 {
        font-size: 60px;
    }

    input, select, textarea {
        font-size: 22px;
    }

    .submit-checkbox, .email-checkbox {
        font-size: 18px;
    }

    input[type="submit"] {
        font-size: 22px;
    }

    .input-container {
        flex-direction: row;
    }

    .input-container input {
        width: 40%;
    }

    .list-section {
        flex-direction: row;
    }

    ol {
        margin-left: 20px;
    }

    .list-section h4 {
        border: none;
    }
}

