aside {
    display: none;
}

.social-networks {
    display: none;
}

body {
    color: #373867;
    font-family: 'Roboto', sans-serif;;
}

a {
    text-decoration: none;
}

a:link{
    color: #373867;
}

a:visited {
    color: #373867;
}

img {
    width: 100%;
}


@media screen and (min-width: 768px) {
    nav {
        height: 200px;
    }
    
    .logo-image {
        display: inherit;
    }

    aside {
        display: inherit; 
    }
    .main-container{
        width: 75%;
        margin: 0 25%;
    }

}

@media screen and (min-width: 1024px) {
    nav {
        height: 100px;
        background-color: #fff;
        justify-content: flex-end;
    }

    .logo-image {
        display: none;
    }

    .logo {
        display: none;
    }

    .menu-icon {
        display: none;
    }

    .social-networks {
        display: inherit;
    }

    .dividing-bar {
        display: inherit;
    }

    aside {
        width: 20%;
    }

    .main-container{
        width: 80%;
        margin: 0 20%;
    }

    .main {
        flex-direction: row-reverse;
        text-align: start;
    }
    .main img {
        width: 50%;
        margin-top: 56px;
        margin-bottom: 0;
    }
    .article-container {
        width: 50%;
        margin-top: 56px;
        margin-right: 75px;
    }

    .article-container h2 {
        font-size: 54px;
    }

    .article-container h3 {
        font-size: 24px;
        margin: 52px 0 21px 0;
    }

    .article-container p {
        font-size: 18px;
    }

    .main-section button {
        font-size: 15px;
        font-weight: bold;
        color: #373867;
        text-transform: uppercase;
        background-color: #FFF;
        padding: 18px 85px;
        border: 2px solid #373867;
        border-radius: 5px;
        cursor: pointer;
    }
}

